<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="5">
  <title>Test Browser</title>
</head>
<body>
  <h1>Test Browser</h1>
  <ul>
    <%= test_summary %>
    <% test_summary.test_names.each do |test_name| %>
      <li><%= test_name %></li>
    <% end %>
  </ul>
</body>
</html>
