<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="5">
    <title>Dotpretty Browser</title>
  </head>
  <body>
    <h1>Dotpretty Browser</h1>
  </body>
</html>
